@use "./abstract/_shared.scss"as *;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    @include para-sm-sm();
}

.header {
    height: 5rem;
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    box-shadow: 4px 5px 5px $white;
    background-color: $background;
    color: $white;

    &__nav {
        width: 50%;

        &__list {
            display: flex;
            justify-content: center;
            gap: 1rem;

            &__item {
                color: $white;
            }
        }
    }

    &__icon {
        display: flex;
        gap: 1rem;
    }

}