@use "./abstract/_shared.scss"as *;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    @include para-sm-sm();
    color: $white;
}

body {
    background: $background;
}

.header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    box-shadow: 4px 5px 5px $primary;
    background-color: $background;
    text-transform: uppercase;
    z-index: 2;

    &__name {
        @include title-lg();

        &__span {
            @include title-lg();
            color: $primary;
        }
    }


    &__nav {
        width: 50%;

        &__list {
            display: flex;
            justify-content: center;
            gap: 4rem;

            &__item {
                color: $white;
            }
        }
    }

    &__icon {
        display: flex;
        gap: 1rem;
    }

}

.heroe {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/img/img-hero-section.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;

    &__border {
        display: flex;
        justify-content: center;
        padding: .8rem;
        width: 14rem;
        border: solid 2px $white;
        border-radius: 8px;
    }

    &__content {
        background: $background-opacity;
        width: 40%;
        height: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        &__title {
            @include title-3xl();
            text-transform: uppercase;

            &__span {
                @include title-3xl();
                color: $primary;
            }
        }

        &__buttons {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 2rem;
        }
    }

}

.footer {
    padding: 1rem;
    height: auto;
    width: 100%;
    background-color: $background;
    display: flex;
    flex-direction: column;



    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;

        &__cat__title {
            @include title-lg();
            text-transform: uppercase;
            color: $primary;
        }

        &__cat__item {
            margin-top: 1rem;

        }
    }

    &__legal {
        display: flex;
        margin: 1rem;
        justify-content: space-between;

        & ul {
            display: flex;
            gap: 1rem;
        }
    }
}

.media ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    & li {
        padding: .8rem;
        background-color: $primary;
        border-radius: 100%;
        color: $background;

    }
}

.button-primary {
    @include para-md-lg();
    background-color: $primary;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: $background;
    text-transform: uppercase;

    & ion-icon {
        color: $background;
    }
}

.button-secondary {
    background: none;
    border-color: $white;
    @include para-md-lg();
    color: $white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    text-transform: uppercase;
}