@use "./abstract/_shared.scss"as *;

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    @include para-sm-sm();
    color: $white;
}

body {
    background: $background;
}

.header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    box-shadow: 4px 5px 5px $primary;
    background-color: $background;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;

    &__name {
        @include title-lg();

        @include tablette() {
            @include title-md();
        }

        // @include telephone() {
        //     @include title-md();
        // }

        &__span {
            @include title-lg();
            color: $primary;
        }
    }

    &__nav {
        width: 50%;

        @include tablette() {
            display: none;
        }

        &__list {
            display: flex;
            justify-content: center;
            gap: 4rem;

            &__item {
                color: $white;

                &:hover {
                    color: $primary;
                    text-decoration: underline $primary;
                }
            }
        }
    }

    &__icon {
        display: flex;
        gap: 2rem;

        & ion-icon {
            font-size: 2rem;
        }
    }
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/img/img-hero-section.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;

    &__border {
        display: flex;
        justify-content: center;
        padding: 0.8rem;
        width: 14rem;
        border: solid 2px $white;
        border-radius: 8px;

        @include tablette() {
            padding: 0.4rem;
        }
    }

    &__content {
        background: $background-opacity;
        width: 40%;
        height: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        @include tablette() {
            width: 75%;
        }

        &__title {
            @include title-3xl();
            text-transform: uppercase;

            @include tablette() {
                @include title-xxl();
            }

            @include telephone() {
                @include title-xl();
            }

            &__span {
                @include title-3xl();
                color: $primary;

                @include tablette() {
                    @include title-xxl();
                }

                @include telephone() {
                    @include title-xl();
                }
            }
        }

        &__buttons {
            display: flex;
            justify-content: center;
            gap: 2rem;
            margin-top: 2rem;

            @include telephone() {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.marques {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;

    @include telephone() {
        flex-wrap: wrap
    }

    & p {
        @include title-lg();

        @include telephone() {
            @include title-lg ();
        }
    }
}

.button-primary {
    @include para-md-lg();
    background-color: $primary;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: $background;
    text-transform: uppercase;

    & ion-icon {
        color: $background;
    }

    @include tablette() {
        @include para-sm-md();
    }

    @include telephone() {
        @include para-sm-md();
    }
}

.button-secondary {
    background: none;
    border-color: $white;
    @include para-md-lg();
    color: $white;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    text-transform: uppercase;

    @include tablette() {
        @include para-sm-md();
    }

    @include telephone() {
        @include para-sm-md();
    }
}

.contact {
    width: 100%;
    height: auto;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
    background: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__mini-title {
        @include para-sm-sm();
        color: $background;
    }

    &__title {
        @include title-xl();
        text-transform: uppercase;
        font-size: $font-size-xl;
        color: $background;
        text-align: center;

        @include telephone() {
            @include title-lg();
        }
    }

    &__content {
        width: 50%;
        text-align: center;
        margin: 1rem;
        color: $background;


        @include telephone() {
            width: 100%;
        }
    }

    &__form {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        @include tablette() {
            flex-direction: column;
        }

        &__input {
            width: 30rem;
            height: 3rem;
            padding: 1rem;
            border-radius: 1rem;
            background: $background;
            color: $white;

            @include telephone() {
                width: 90vw;
            }
        }

        &__btn {
            background: $background;
            color: $white;

            @include telephone() {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            & ion-icon {
                color: $white;
            }
        }
    }

    &__span {
        @include para-sm-sm();
        color: $background;

    }
}

.footer {
    padding: 1rem;
    height: auto;
    width: 100%;
    background-color: $background;
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 2rem;

        @include tablette() {
            flex-direction: column;
            gap: 3rem;
        }

        &__cat__title {
            @include title-lg();
            text-transform: uppercase;
            color: $primary;
        }

        &__cat__item {
            margin-top: 1rem;
        }
    }

    &__legal {
        display: flex;
        margin: 1rem;
        justify-content: space-between;

        @include tablette() {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1rem;
        }

        & ul {
            display: flex;
            gap: 1rem;
        }
    }
}

.media ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    @include tablette() {
        width: 50%;
    }

    @include telephone() {
        width: 100%;
    }

    & li {
        padding: 0.8rem;
        background-color: $primary;
        border-radius: 100%;
        color: $background;
    }
}