* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

body {
  background: #282729;
}

.header {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  box-shadow: 4px 5px 5px #48c7b3;
  background-color: #282729;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}
.header__name {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
@media screen and (max-width: 1275px) {
  .header__name {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
  }
}
.header__name__span {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #48c7b3;
}
.header__nav {
  width: 50%;
}
@media screen and (max-width: 1275px) {
  .header__nav {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.header__nav__list__item {
  color: #ffffff;
}
.header__nav__list__item:hover {
  color: #48c7b3;
  text-decoration: underline #48c7b3;
}
.header__icon {
  display: flex;
  gap: 2rem;
}
.header__icon ion-icon {
  font-size: 2rem;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/img/img-hero-section.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__border {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  width: 14rem;
  border: solid 2px #ffffff;
  border-radius: 8px;
}
@media screen and (max-width: 1275px) {
  .hero__border {
    padding: 0.4rem;
  }
}
.hero__content {
  background: rgba(40, 39, 41, 0.2);
  width: 40%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1275px) {
  .hero__content {
    width: 75%;
  }
}
.hero__content__title {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 104px;
  text-transform: uppercase;
}
@media screen and (max-width: 1275px) {
  .hero__content__title {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
  }
}
@media screen and (max-width: 600px) {
  .hero__content__title {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
  }
}
.hero__content__title__span {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 104px;
  color: #48c7b3;
}
@media screen and (max-width: 1275px) {
  .hero__content__title__span {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
  }
}
@media screen and (max-width: 600px) {
  .hero__content__title__span {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
  }
}
.hero__content__buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .hero__content__buttons {
    flex-direction: column;
    align-items: center;
  }
}

.marques {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}
@media screen and (max-width: 600px) {
  .marques {
    flex-wrap: wrap;
  }
}
.marques p {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
@media screen and (max-width: 600px) {
  .marques p {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
  }
}

.button-primary {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  background-color: #48c7b3;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: #282729;
  text-transform: uppercase;
}
.button-primary ion-icon {
  color: #282729;
}
@media screen and (max-width: 1275px) {
  .button-primary {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .button-primary {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }
}

.button-secondary {
  background: none;
  border-color: #ffffff;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 1275px) {
  .button-secondary {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .button-secondary {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
  }
}

.contact {
  width: 100%;
  height: auto;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #48c7b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__mini-title {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #282729;
}
.contact__title {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-transform: uppercase;
  font-size: 48px;
  color: #282729;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .contact__title {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
  }
}
.contact__content {
  width: 50%;
  text-align: center;
  margin: 1rem;
}
@media screen and (max-width: 600px) {
  .contact__content {
    width: 100%;
  }
}
.contact__form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1275px) {
  .contact__form {
    flex-direction: column;
  }
}
.contact__form__input {
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #282729;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .contact__form__input {
    width: 90vw;
  }
}
.contact__form__btn {
  background: #282729;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .contact__form__btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.contact__form__btn ion-icon {
  color: #ffffff;
}
.contact__span {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.footer {
  padding: 1rem;
  height: auto;
  width: 100%;
  background-color: #282729;
  display: flex;
  flex-direction: column;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
@media screen and (max-width: 1275px) {
  .footer__list {
    flex-direction: column;
    gap: 3rem;
  }
}
.footer__list__cat__title {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #48c7b3;
}
.footer__list__cat__item {
  margin-top: 1rem;
}
.footer__legal {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
@media screen and (max-width: 1275px) {
  .footer__legal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}
.footer__legal ul {
  display: flex;
  gap: 1rem;
}

.media ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
@media screen and (max-width: 1275px) {
  .media ul {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .media ul {
    width: 100%;
  }
}
.media ul li {
  padding: 0.8rem;
  background-color: #48c7b3;
  border-radius: 100%;
  color: #282729;
}

/*# sourceMappingURL=style.css.map */
