// color

$background:#282729;
$background-opacity:rgba(40, 39, 41, 0.2);
$primary:#48c7b3;
$white:#ffffff;
//typo

$segoe : 'Segoe UI',
system-ui,
-apple-system,
sans-serif;

// font-weight
$font-weight-sl: 200;
$font-weight-sm: 400;
$font-weight-md: 600;
$font-weight-lg: 700;

// font-size
$font-size-xs : 14px;
$font-size-sm : 16px;
$font-size-md : 18px;
$font-size-lg : 24px;
$font-size-xl : 48px;
$font-size-xxl : 64px;
$font-size-3xl : 104px;
$font-size-4xl : 164px;